# Copy this sample to env.sh and customize it, then source it with:
#
#    source env.sh
#

# Replace this with the AWS profile from the AWS cli you want to use
export AWS_PROFILE=default
export AWS_DEFAULT_PROFILE=default
export AWS_DEFAULT_REGION=us-east-1
export AWS_SOURCE_AMI=ami-d5bf2caa
#export AWS_DEFAULT_REGION=us-east-2
#export AWS_SOURCE_AMI="ami-3daa8f58"

# Fill this in with either the default VPC from your AWS region
# or with a VPC and subnet ID that have automatic assignment of
# IPv4 addresses enabled
# (Or use the Jenkinsfile and use the same subnet as the Jenkins executor)
#export PACKER_AWS_VPC_ID=vpc-XXXXXXXX
#export PACKER_AWS_SUBNET_ID=subnet-YYYYYYYY
