#!/usr/bin/env bash
# Copy this sample to env.sh and customize it, then source it with:
#
#    source env.sh
#

export PROJECT_NAME=devops-infra-demo
# Replace this with the AWS profile from the AWS cli you want to use
export AWS_PROFILE=default
export AWS_DEFAULT_PROFILE=default
export AWS_DEFAULT_REGION=us-east-1
export AWS_SOURCE_AMI=ami-9887c6e7
#export AWS_DEFAULT_REGION=us-east-2
#export AWS_SOURCE_AMI=ami-3daa8f58

# Fill this in with either the default VPC from your AWS region
# or with a VPC and subnet ID that have automatic assignment of
# IPv4 addresses enabled.
#export PACKER_AWS_VPC_ID=vpc-XXXXXXXX
#export PACKER_AWS_SUBNET_ID=subnet-YYYYYYYY
# credentials for IAM user - needed for Docker packer when run locally
#export AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXXXXXXXX
#export AWS_SECRET_ACCESS_KEY=YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

# Fill this in with details related to your Google account
export GOOGLE_APPLICATION_CREDENTIALS=~/terraform-demo.json
declare GOOGLE_CLOUD_KEYFILE_JSON
if [ -f "$GOOGLE_APPLICATION_CREDENTIALS" ]; then
    GOOGLE_CLOUD_KEYFILE_JSON="$(cat "$GOOGLE_APPLICATION_CREDENTIALS")"
fi
export GOOGLE_CLOUD_KEYFILE_JSON
#export GOOGLE_PROJECT=example-terraform-demo-999999
export GOOGLE_REGION=us-east1

# Fill in your New Relic license key
export NEWRELIC_LICENSE_KEY=ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
