server {
    listen       80;
    server_name  {{ server_name }};

    location / {
        root   {{ app_dir }};
        index  index.html index.htm;
    }

    location /api/spin {
        uwsgi_pass  unix:///app/socket/infra-demo.sock;
        include     /etc/nginx/uwsgi_params;
        uwsgi_param UWSGI_SCRIPT /app/src/wsgi.py;
    }

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}

