[uwsgi]
venv = /app/venv
wsgi-file = /app/src/wsgi.py
chdir = /app/src
master = 1
workers = 64
threads = 1
lazy-apps = 1
wsgi-env-behaviour = holy
enable-threads = 0
http-auto-chunked = 1
http-keepalive = 1
uwsgi-socket = 127.0.0.1:8008

